:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  --accent-color: #ef8a32;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}

@keyframes shoppingCart {
  0% {
    right: 0px;
    left: 0px;
  }
  25% {
    right: 10px;
    left: 0px;
  }
  50% {
    right: 0px;
    left: -10px;
  }
  75% {
    right: 10px;
    left: 0px;
  }
  100% {
    right: 0px;
    left: 0px;
  }
}

/*
@keyframes shoppingCart {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}*/

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 2px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}
.cart-num {
  position: absolute;
  right: -3px;
  top: 10px;
  width: 17px;
  border-radius: 15px;
  background-color: var(--primary-color);
  color: purple;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product icons*/
.product-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.product-icon a {
  text-decoration: none;
  color: var(--dark-grey);
}
.icon {
  padding: 0.5em;
  margin: 1em;
  width: 150px;
}

/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
  position: relative;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.product-card__discount {
  color: rgb(183, 40, 40);
  text-decoration: line-through;
}

/* Sale badge styles*/
.flag-discount {
  background-color: #d53c3c;
  border-radius: 8px;
  color: #ffff;
  font-size: var(--small-font);
  margin-left: 10px;
  padding: 5px 20px;
}

.badge-overlay {
  position: absolute;
  left: 0%;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;
  -webkit-transition:
    width 1s ease,
    height 1s ease;
  -moz-transition:
    width 1s ease,
    height 1s ease;
  -o-transition:
    width 1s ease,
    height 1s ease;
  transition:
    width 0.4s ease,
    height 0.4s ease;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  -ms-transform: translateX(30%) translateY(0%) rotate(45deg);
  -webkit-transform: translateX(30%) translateY(0%) rotate(45deg);
  transform: translateX(30%) translateY(0%) rotate(45deg);
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.badge {
  margin: 0;
  padding: 0;
  color: white;
  padding: 10px 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  background: #ed1b24;
}

.badge::before,
.badge::after {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  background: inherit;
  min-width: 55px;
}

.badge::before {
  right: 100%;
}

.badge::after {
  left: 100%;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

.category-title {
  color: var(--accent-color);
  text-transform: capitalize;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

.total-price-label-color {
  color: var(--dark-grey);
  margin: 1rem;
}

.total-price-color {
  color: var(--accent-color);
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
  min-width: 80px;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  border-top: 1px solid var(--primary-color);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  background-color: #3a3a3a;
  color: #fff;
  padding: 5px 10px;
}

.close-button:hover {
  background-color: darkred;
}

.modal-content h2 {
  font-size: 24px;
}

.modal-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.register-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

/* alert styles */
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: var(--primary-color);
  border: 1px solid darkorange;
}
.alert > p {
  margin: 0;
}

/* Newsletter styles */
.newsletter {
  margin-bottom: 20px;
  padding-left: 20px;
  text-align: center;
}
.newsletter p {
  margin-top: -20px;
}

.newsletter form input {
  height: 3em;
  padding-left: 5px;
  border-radius: 5px;
  border: 2px solid #3a3a3a;
  /* width: 50%; */
}

.sub-news {
  background-color: var(--secondary-color);
  color: #fff;
  border: 0;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}
/* Correcting Product Images  Sizes Week 3*/

/* Medium */
@media screen and (min-width: 40rem) {
  .cart-card {
    column-gap: 4rem;
  }
  .cart-card__image/*,.product-list img*/ {
    width: 12rem;
  }
  .product-list img {
    display: block;
    margin: auto;
  }
  .product-card {
    max-width: 350px;
  }
}
/* Large */
@media screen and (min-width: 64rem) {
  .cart-card {
    column-gap: 8rem;
  }
  .cart-card__image/*,.product-list img*/ {
    width: 16rem;
  }
}

form fieldset,
form fieldset div,
.checkout__name,
.checkout__address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.formbtn {
  margin-bottom: 10px;
  color: white;
}

#checkoutSubmit,
.btn {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 15rem;
  background-color: #525b0f;
}
.btn a {
  display: block;
  color: #fff;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
